body{
  background-color: #1F2544;
}

.glownybox{
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.naglowek{
  width: 100%;
  text-align: center;
  font-family: serif;
  color: #81689D;
  font-size: 50px;
}

iframe{
  height: 90%;
  width: 90%;
}

.glowny{
  padding-top: 150px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  height: 1000px;
  width: 85%;
  border: 0;
  background: #474F7A;
}

.stopka{
  color: grey;
}
